.wrapper{
    position: fixed;
    left: calc(30% - 200px);
    top: calc(50% - 200px);
    background-color: rgba(0,0,0,0.4);
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border-radius: 15px;
}
.input{
    position: absolute;
    left: 25%;
    top: 50%;
    border: 2px solid grey;
    padding: 5px;

}

.input:focus{
    border:none;
    outline: 2px solid green;
}

.price{
    font-size: 30px;
    position: absolute;
    left: 5%;
    top: 50%;
}
.close,.result{
    margin: 5px;
}
.error{
    font-size: 30px;
    position: absolute;
    top: 60%;
    left: 15%;
    visibility: hidden;
}
.prices-container{
    position: fixed;
    left: calc(70% - 200px);
    top: calc(50% - 200px);
    background-color: rgba(0,0,0,0.4);
    width: 400px;
    height: 400px;
    /*min-height: 400px;*/
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;

}
.prices-item{
    font-size: 30px;
    background-color: rgba(0,0,0,0.1);
    text-align: center;
    width: 400px;
    height: 80px;
    border-radius: 15px;
    padding: 10px;
}
.prices-container-name{
    position: fixed;
    font-size: 30px;
    left: calc(70% - 50px);
    top: calc(50% - 230px);
}