.slick-slider{
    position: relative;
}
.slick-list {
    overflow: hidden;
}
.slick-track{
    display: flex;
}
.slick-slide{
    outline: none;
}
.slick-arrow{
    position: absolute;
    top: calc(100% - 60px);
    border: 1px solid #BBBBBB;
    outline: none;
    background-color: rgba(0,0,0,0);
    color: #fff;
    font-size: 20px;
    padding: 10px 15px;
    z-index: 10;
}
.slick-arrow:hover{
    background-color: #18CFAB;
}
.slick-arrow.slick-prev{
    left: 25%;
}
.slick-arrow.slick-next{
    left: calc(75% - 25px);
}
.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slick-dots li{
    margin: 10px;
}
.slick-dots li.slick-active{
    position: relative;
    top: -10px;
}

.slick-dot-img{
    width: 70px;
    height: 70px;
    border: 5px solid rgba(77, 174, 117, 0.4);
    border-radius: 50%;
}