html {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.wrapper {
    min-width: 1200px;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    width: 1160px;
    text-align: center;
}

.hero-container {
    display: flex;
    justify-content: space-between;
}

.hero {
    background-image: url("../img/sections_background/section-1(header).jpg");
    background-attachment: fixed;
}

.hero-top {
    background-color: rgba(94, 93, 88, 0.6);
}

.hero-top-title {
    color: #fff;
    font-size: 32px;
    line-height: 48px;
    padding-top: 38px;
    padding-bottom: 36px;
}

.hero-top-title-H {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    padding: 18px;
    line-height: 31px;
    margin: 6px;
    background: #18CFAB;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

.hero-top-title-ham {
    color: #18CFAB;
}

.nav-menu {
    margin: 49px 21px;
}

.nav-menu-item {
    font-weight: bold;
    line-height: 24px;
    margin-right: 21px;
    padding-bottom: 50px;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
}

.nav-menu-item:hover {
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
}

.nav-menu-search {
    width: 17px;
    height: 17px;
}

.hero-bot {
    text-align: center;
}

.hero-bot-title-wordpress {
    margin-top: 264px;
    color: #ffffff;
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
}

.wordpress {
    color: #18CFAB;
}

.hero-bot-title-creative {
    margin-top: 22px;
    color: #ffffff;
    font-weight: bold;
    font-size: 78px;
    text-transform: uppercase;
}

.hero-bot-title-awesome-features {
    margin-top: 22px;
    color: #d4d4d4;
    font-size: 34px;
    margin-bottom: 134px;

}

.btn {
    width: 168px;
    height: 63px;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: #18CFAB;
    box-shadow: 0 -5px white;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    line-height: 32px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-blue {
    background-color: #00CBF6;
    margin-left: 26px;
    margin-bottom: 243px;
}

.options {
    margin-top: 10px;
    display: flex;
}

.options-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 480px;
    height: 370px;
    color: #18CFAB;
    background-color: #1C2A33;
}

.options-item:nth-child(2n) {
    color: #fff;
    background-color: #18CFAB;
}

.options-item-text {
    margin-top: 47px;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
}

.our-services {
    text-align: center;
}

.title {
    margin: 0 auto;
    padding-top: 83px;
    padding-bottom: 101px;
    font-size: 36px;
    line-height: 40px;
    color: #4e4e4e;
}

.title:after {
    display: block;
    position: relative;
    width: 80px;
    top: 24px;
    left: calc(50% - 40px);
    content: '';
    border-bottom: 1px solid #18CFAB;
    box-shadow: 12px 3px #18CFAB;
}

.tabs {
    display: flex;
    flex-direction: column;
}

.tabs-titles-our-services {
    display: flex;
    justify-content: space-between;
    color: #717171;
    line-height: 39px;
}

.tabs-titles-item-our-services {
    position: relative;
    width: 192px;
    padding: 18px 0;
    border: 1px solid #EDEFEF;
    cursor: pointer;
}

.tabs-titles-item-our-services:hover {
    border: 1px solid #18CFAB;
}


.tabs-titles-item-active {
    background-color: #18CFAB;
    color: #fff;

}

.tabs-titles-item-active:after {
    position: absolute;
    top: 100%;
    left: calc(50% - 10px);
    width: 20px;
    height: 20px;
    display: block;
    content: '';
    background-color: #18CFAB;
    clip-path: polygon(50% 50%, 0 0, 100% 0);
}

.tabs-content-our-services {
    margin-top: 23px;
    margin-bottom: 93px;
    display: flex;
}

.tabs-content-item-our-services {
    display: none;
}

.tas-content-item-active {
    display: flex;
}

.tabs-content-img-our-services {
    width: 192px;
}

.tabs-content-text-our-services {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}

.purchase {

    background-image: url(../img/sections_background/section-2.jpg);
    box-shadow: inset 1920px 0 0 rgba(0, 0, 0, 0.8);
}

.everything-is-ready {
    padding-top: 126px;
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
}

.everything-is-ready-description {
    line-height: 40px;
    color: #D8D8D8;
    margin-bottom: 67px;
}

.purchase-now-btn {
    margin-bottom: 127px;
}

.our-amazing-work {
    background-color: #e9edef;
}

.tabs-titles-amazing-works {
    display: flex;
    justify-content: center;
    margin-bottom: 71px;
}

.tabs-titles-item-amazing-works {
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    padding: 0 15px;
    border: 1px solid #DADADA;
}
.tabs-titles-item-amazing-works:hover {
    border: 1px solid #18CFAB;
}
.tabs-titles-item-active-amazing-works {
    border: 1px solid #18CFAB;
    color: #18CFAB;
}

.tabs-content-amazing-works {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0;

}

.tabs-content-item-amazing-works:hover .tabs-content-item-img-amazing-works {
    display: none;
}

.tabs-content-item-amazing-works:hover .tabs-content-item-hover-amazing-works {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.tas-content-item-active-amazing-works {
    display: none;
}

.tabs-content-item-hover-amazing-works {
    width: 284px;
    height: 206px;
    border-top: 2px solid #18CFAB;
    display: none;

}

.tabs-content-item-hover-btn-container-amazing-works {
    display: flex;
    justify-content: center;
}

.tabs-content-item-hover-btn-amazing-works {
    position: relative;
    height: 40px;
    width: 40px;
    padding: 10px;
    background-color: #e9edef;
    border: 1px solid #18CFAB;
    border-radius: 50%;
    outline: none;
    margin: 48px 3px 24px;
}

.tabs-content-item-hover-btn-amazing-works:hover {
    background-color: #18CFAB;
}

.tabs-content-item-hover-btn-amazing-works:hover .chain-svg {
    fill: #fff;
}

.rectangle:after {
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    content: '';
    background-color: #18CFAB;
    width: 12px;
    height: 12px;
}

.rectangle:hover:after {
    background-color: #fff;
}

.tabs-content-item-amazing-works-hover-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
}

.tabs-content-item-amazing-works-hover-category {
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8a8a8a;
}

.load-more-btn {
    box-shadow: none;
    font-size: 14px;
    line-height: 42px;
    margin-bottom: 99px;
    margin-top: 70px;
}

.btn-hide {
    display: none;
}

.breaking-news-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 128px;
}

.breaking-news-item {
    margin-right: 30px;
    position: relative;
}

.breaking-news-item:hover .breaking-news-item-title {
    color: #18CFAB;
}

.breaking-news-item:hover .breaking-news-item-date {
    background-color: #18CFAB;
}

.breaking-news-item:nth-child(4n) {
    margin-right: 0;
}

.breaking-news-item-title {
    font-weight: bold;
    font-size: 18px;
    /*line-height: 39px;*/
    color: #717171;
}

.breaking-news-item-author:after {
    content: '';
    margin: 0 10px 0 15px;
    padding: 0 0 1px 1px;
    background-color: #777777;
    opacity: 0.5;
}

.breaking-news-item-author, .breaking-news-item-comments {
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777;
}

.breaking-news-item-date {
    box-sizing: border-box;
    position: absolute;
    color: #fff;
    top: 0;
    padding-top: 16px;
    width: 70px;
    height: 70px;
    left: calc(100% - 70px);
    background-color: #203E38;
}

.what-people-say {
    background-image: url(../img/sections_background/section-3.jpg);
    box-shadow: inset 1920px 0 0 rgba(0, 0, 0, 0.5);
    padding-bottom: 100px;
}

.what-people-say-title {
    color: #fff;
}
.slider-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slider-item-description{
    margin: 36px;
    font-weight: 300;
    line-height: 30px;
    color: #bbb;
}
.slider-item-title{
    font-weight: bold;
    line-height: 27px;
    text-transform: uppercase;
    color: #18CFAB;
}
.slider-item-position{
    margin-top: 15px;
    font-size: 13px;
    color: #bbbbbb;
}
.slider-item-img{
    border: 10px solid rgba(77, 174, 117, 0.4);
    width: 142px;
    height: 142px;
    margin-top: 50px;
    margin-bottom: 57px;
    border-radius: 50%;
}
/*.container-slider{*/
/*    margin-bottom: 100px;*/
/*}*/
.footer{
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
    padding: 48px 0;
    background-color: #22353f;
}

















