.modal {
  &__container {
    &--danger{
      margin: 15% auto;
      border: 1px solid #888;
      border-radius: 4px;
      width: 60%;
      background: #c44747;
    }
    &--success{
      margin: 15% auto;
      border: 1px solid #888;
      border-radius: 4px;
      width: 60%;
      background: #3b75c1;
    }
  }

  &__header {
    padding: 15px;
    //background: #c44747;
    display: flex;
    justify-content: space-between;
  }

  &__header-title {
    color: white;
    font-size: 36px;
    font-weight: bold;
  }

  &__content {
    padding: 15px;
    //background: rgba(0,0,0,0.1);
  }

  &__content-text {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }

  &__control {
    display: flex;
    justify-content: space-around;
  }

  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}