html, a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
h2,h3,h4,p{
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1900px;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
}

.header_top {
    display: flex;
    background-color: #313131;
    align-items: center;
}

.header_logo_title {
    display: inline-block;
    color: white;
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;

}

.header_logo_img {
    padding-right: 27px;
    padding-left: 29px;
}

.nav_menu_list {
    margin: 0 auto;
}

.nav_menu_object {
    padding: 28px 35px 26px 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    color: white;
}

.nav_menu_object:hover {
    color: #14b9d5;
}

.nav_menu_search {
    padding: 29px 26px;
    background-color: black;
    cursor: pointer;
}

.header_background {
    background-image: url("../img/header-bg.jpeg");
    background-attachment: fixed;
    background-size: 100%;
    /*height: 369px;*/
    justify-content: center;
}

.header_title {
    text-align: center;
    font-weight: 700;
    padding-top: 164px;
    color: white;
    font-size: 27px;
    line-height: 37px;
}


.btn {
    display: inline-block;
    cursor: pointer;
    margin: 60px auto 74px;
    height: 55px;
    width: 170px;
    color: white;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    padding-top: 16px;
    padding-bottom: 17px;
    border-radius: 4px;
}
.btn:hover{
    opacity: 0.5;
    color: black;
}

.subscribe_now {
    position: relative;
    left: 40%;
    /*transform: translate(-40%, 0);*/
    padding-left: 19px;
    padding-right: 19px;
    background-color: #89ca62;
}

.best_articles {
    position: relative;
    left: 41%;
    /*trans form: translate(-60%, 0);*/
    /*margin-left: 20px;*/
    padding-left: 30px;
    padding-right: 29px;
    background-color: #14b9d5;
}

.most-popular-posts {
    background-color: #f2f2f2;
    height: 1030px;
}

.content_title {
    padding-top: 49px ;
    padding-bottom: 52px;
    font-weight: bold;
    text-align: center;
    color: #18b4cf;
    text-transform: uppercase;
    font-size: 27px;
    line-height: 37px;
}

.content_popular_posts {
    display: flex;
    flex-flow: column wrap;
    max-height: 1030px;
    width: 100%;
}

.content_popular_posts:before, .content_posts:after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
}

.content_popular_posts_item {
    /*box-sizing: border-box;*/
    background-color: white;
    margin: 15px;

}

.content_popular_posts_item:nth-child(3n+1) {
    order: 1;
}

.content_popular_posts_item:nth-child(3n+2) {
    order: 2;
}

.content_popular_posts_item:nth-child(3n) {
    order: 3;
}

.popular_posts_title {
    text-align: center;
    padding: 20px 0;
    display: block;
    color: #353a3d;
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
}

.content_our-popular-clients_background {
    display: grid;
    background-image: url("../img/parallax-bg.jpeg");
    background-attachment: fixed;
    background-size: 100%;
    justify-items: center;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    grid-template-areas:
    "title title title title"
    "break break break break"
    "img1 img2 img3 img4"
}

.content_our-popular-clients_title {
    margin-top: 106px;
    color: white;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 44px;
    font-weight: bold;
    grid-area: title;
}

.blue_break {
    background-color: #18b4cf;
    margin: 87px auto 106px;
    height: 3px;
    width: 60px;
    grid-area: break;
}

.content_top_rated_img {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
}
.top-rated-img-item{
    width: 100%;
}

.content_most-liked-posts {
    display: grid;
    align-items: start;
    grid-row-gap: 40px;
    grid-column-gap: 60px;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "post1 post1 post1 post2"
    "post3 post3 post4 post4"
    "post5 post5 post6 post6"
    "post7 post8 post8 post8"
}
.post{
    background-color: #f2f2f2;
    /*background-color: #89ca62;*/
}
.liked_posts_title{
    padding-right: 15px;
    color: #353a3d;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
}
.liked_posts_text{
    padding-top: 15px;
    padding-right: 15px;
    color: #5b6469;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    text-align: right;
}
.title_small{
    text-align: center;
    padding-bottom: 19px;
}
.title_big{
    padding-right: 0;
}
.text_big{
    padding-top: 0;
    padding-right: 0;
}
.liked_posts{
    padding-top: 41px;
    padding-right: 25px;
}

.emirates {
    grid-area: post1;
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.spain {
    grid-area: post2;
}

.egypt {
    grid-area: post3;
}

.maldives {
    grid-area: post4;
}

.tenerife {
    grid-area: post5;
}

.britain {
    grid-area: post6;
}

.ireland {
    grid-area: post7;
}

.spain_kings {
    grid-area: post8;
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
.footer{
    margin-top: 77px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: black;
    height: 80px;
}
.footer_copyright{
    color: white;
    font-size: 13px;
    line-height: 13px;

}


