.product {
  &__card {
    background: white;
    width: 200px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
  }

  &__img-wrapper {
    width: 200px;
    height: 200px;
  }

  &__img {
    width: 100%;
  }

  &__title {
    text-align: center;
  }

  &__text {

  }
}