html,body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}

.nav_menu{
    margin: 0 auto;
    display: flex;
    list-style: none;
    justify-content: center;
}
.nav_menu_item, a{
    color: #FF0000;
    margin: 25.5px 36px;
    /*margin-left: 72px;*/
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-decoration: none;
    text-transform: uppercase;
}
.div_img{
    min-height: 789px;
    background-image: url("images/img_1.png");
    background-size: 100%, cover;
}
.content_header{
    text-align: center;
    color: #373737;
}
.content_title{
    margin-top: 49px;
    margin-bottom: 38px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 3.3px;
    line-height: 27px;
}
.content_filling{
    padding: 0 67.5px;
    letter-spacing: 2.4px;
    line-height: 26px;
}
.btn{
    margin: 0 auto;
    margin-top: 84px;
    padding: 18px 43.5px 17px 42.5px;
    min-height: 51px;
    min-width: 191px;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    border: none;
    outline: none;
    background: #FF0000;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;

}
.footer{
    margin: 0 auto;
    width: 1070px;
}
.footer_copyright{
    margin-top: 82px;
    margin-bottom: 29px;
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    color: #373737;
    line-height: 20px;
    letter-spacing: 2.4px;
}

