body {
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.container {
    margin: 51px auto;
    width: 1023px;
    /*width: 100%;*/
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    /*justify-content: space-between;*/

}

.hero_logo {
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.hero_logo_img {
    padding-right: 8px;
    padding-bottom: 28px;
}

.hero_title_milan {
    /*position: relative;*/
    font-size: 29px;
    line-height: 29px;
    font-weight: bold;
}


.hero_title_holidays {
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
}

.hero_logo:hover .hero_logo_img {
    content: url("../img/logo_orange.png");
    padding-right: 8px;
    padding-bottom: 28px;
}

.hero_logo:hover .hero_title_milan {
    color: #F26522;
}

.hero_logo:hover .hero_title_holidays {
    color: #F26522;
}

.hero_contact {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: end;
}

.hero_email {
    color: white;
    text-decoration: none;
    text-transform: none;
}

.hero_email:hover {
    color: #F26522;
}

.hero_number:hover {
    color: #F26522;
}

.tours {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

}

.tours_item {
    margin-right: 61px;
    text-decoration: none;
    text-transform: none;
    color: white;
    position: relative;
}

.tours_item:hover .tours_item_title {
    color: #F26522;
}

.tours_item:hover .tours_item_info {
    display: grid;
    grid-template-areas:
            "from details"
            "price details";
}

.tours_item_img {
    width: 300px;
    height: 220px;
}

.tours_item_info {
    width: 300px;
    height: 55px;
    display: none;

    background-color: #F26522;
    position: absolute;
    bottom: 80px;
}

.from {
    padding-top: 7px;
    padding-bottom: 8px;
    padding-left: 16px;
    font-size: 10px;
    line-height: 10px;
    grid-area: from;
}

.price {
    padding-left: 16px;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 20px;
    grid-area: price;
}

.details {
    padding-top: 29px;
    padding-left: 128px;
    text-align: end;
    font-size: 14px;
    line-height: 14px;
    grid-area: details;
}

.details:after {
    padding-left: 16px;
    padding-right: 14px;
    content: url("../img/right_arrow.png");
}

.tours_item_title {
    padding-top: 20px;
    padding-bottom: 37px;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
}

.footer_copyright {
    margin-top: 49px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}
