html, a {
    font-family: 'Roboto', sans-serif;
    color: #000;
    text-decoration: none;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}

.header_title {
    font-size: 80px;
    line-height: 94px;
}

.header_title_blue_part {
    color: #4bcaff;
}

.header_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 38px;
    min-height: 72px;

    background: #35444f;
}

.header_menu_text {
    color: white;
    font-size: 24px;
    padding: 26px 40px 19px;
    border-left: 1px solid white;
}

.header_menu_text:hover {
    background-color: #222f3a;
}

.main {
    padding-top: 50px;
    display: flex;
    align-items:flex-start;
    align-content:flex-start;
}

.main_aside {
    border: solid 1px;
    min-width: 344px;
}

.main_aside_text {
    color: #485863;
    display: block;
    padding-left: 44px;
    padding-top: 26px;
    padding-bottom: 26px;
    font-size: 27px;
    line-height: 27px;
    text-decoration: none;
}

.main_aside_text:hover {
    padding-left: 55px;
    color: #000;
    background-color: #dbdbdb;
}

.main_content_img_border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 882px;
    height: 529px;
    border: 1px solid;
}

.main_content_img {
    height: 381px;
    width: 320px;
}

.main_content_img:hover {
    height: 457px;
    width: 384px;
    transition: 3s;

}

.main_content {
    margin-left: 52px;
    font-size: 18px;
    line-height: 24px;
}

.footer {
    display: flex;
    margin-top: 52px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #b5b7ba;
}

.footer_text {
    color: #0c1927;
    padding-left: 40px;
    font-size: 28px;
    line-height: 28px;
}

.footer_text:hover {
    color: #3181a6;
    text-decoration: underline;
}

.footer_copyright {
    padding-left: 120px;
    font-size: 24px;
    line-height: 24px;

}
.btn-change-theme{
    font-size: 20px;
    height: 30px;
    border-radius: 4px;
    background-color: #4bcaff;
    border: none;
    outline: none;
    cursor: pointer;
}


