body {
    background-color: black;
    color: yellow;
    font-family: 'Pathway Gothic One', sans-serif;
    overflow: hidden;
}

.star-wars {
    position: absolute;
    left: calc(50% - 450px / 2);
    bottom: 0;
    perspective: 150px;
    transform: perspective(300px) rotateX(40deg);
    padding: 20px;
    max-width: 450px;
}

.star-wars-container {
    animation: anim 30s linear infinite;
}

.star-wars-text, .star-wars-title {
    font-size: 40px;
    text-align: justify;
}

.star-wars-title {
    text-align: center;
}

@keyframes anim {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(-100%);
    }
}