body {
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.hero {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: 'Ubuntu', sans-serif;
}

.hero-name {
    text-transform: uppercase;
    color: white;
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    padding: 18px 0 18px 79px;
    /*margin-right: 704px;*/
}

.hero-name:hover {
    color: #236D47;
    transition: 0.3s;
}

.hero-menu {
    display: flex;
    justify-self: end;
}

.svg {
    margin: 17px 14px;
}

.svg:hover .icon {
    fill: #236D47;
    transition: 0.3s;

}

.compass:after {
    content: '';
    margin-left: 25px;
    padding: 13px 1px 1px 1px;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
}

.hero-text {
    padding-top: 22px;
    color: white;
    font-size: 14px;
    line-height: 14px;
    margin-right: 79px;
}

.hero-logIn-link:hover, .hero-signUp-link:hover {
    color: #236D47;
}

.register-page {
    position: absolute;
    left: calc(50% - 444px / 2);
    top: calc(50% - 610px / 2);
    display: flex;
    flex-wrap: wrap;
    width: 444px;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
}

.register-page_content {
    width: 324px;
    margin: 0 auto;
}

.sign-up_log-in {
    display: flex;
}

.sign-up {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    padding: 31px 215px 15px 0;

}

.sign-up:before {
    content: '';
    height: 18px;
    width: 18px;
    background-color: #3CB878;
    position: absolute;
    left: 0;
}

.log-in {
    font-size: 14px;
    line-height: 14px;
    padding-top: 31px;
    color: #3CB878;
}

.log-in:hover {
    text-decoration: underline;
    transition: 0.3s;
}

.buttons {
    display: flex;
}

.btn {
    display: flex;
    width: 160px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    color: white;
}

.btn-facebook {
    background: #305DB8;

}

.btn-facebook:hover {
    background: #022263;
    transition: 0.3s;
}

.facebook-logo {
    font-family: 'awesome', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
    padding: 10px 0 10px 16px;
}


.btn-google {
    background: #DF4A32;
    margin-left: 4px;
}

.btn-google:hover {
    background: #AB1F09;
    transition: 0.3s;
}

.google-logo {
    font-family: 'awesome', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    padding: 12px 0 12px 12px;
}

.btn-text {
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 16px;
}

.facebook:before, .google:before {
    content: '';
    background: #0A162F;
    opacity: 0.1;
    margin: 0 18px;
    padding: 10px 1px 10px 0;
}

.google:before {
    margin-left: 7px;
    margin-right: 30px;
}

.facebook {
    padding-right: 22px;
}

.google {
    padding-right: 27px;
}

.break {
    margin: 30px 2px 10px 5px;
    text-align: center;
    color: #848484;
    font-size: 14px;
    line-height: 14px;
}

.break:before, .break:after {
    position: absolute;
    top: 153px;
    left: 60px;
    content: '';
    padding: 1px 76px 0;
    background: #000;
}

.break:after {
    left: 232px;
    right: 60px;
}

.form-fields-item {
    font-family: 'Ubuntu', sans-serif;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    width: 324px;
    outline: none;
    padding: 16px 20px;
    border-radius: 4px;
}

input::placeholder {
    color: #BEBEBE;
}

.form-fields-item:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

.form-fields-item:not(:first-of-type) {
    margin-top: 15px;
}

.checkbox {
    margin-top: 12px;
}

.agree-text {
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}

.agree-text-green {
    color: #3CB878;
}

.agree-text-green:hover {
    text-decoration: underline;
}

.btn-create_account {
    width: 324px;
    margin: 20px 0 38px;
    background: rgba(60, 184, 120, 0.8);
}

.btn-create_account:hover {
    background: #01813F;
    transition: 0.3s;
}

.text_create_account {
    font-family: 'Ubuntu', sans-serif;
    padding: 16px 99px;
}

.checkbox-agreement {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
}

.checkbox-agreement input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #F2F2F2;
}

.checkmark:after {
    content: url("../img/checkmark.svg");
    position: absolute;
    display: none;
}

.checkbox-agreement input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-agreement .checkmark:after {
    top: 2px;
    left: 2px;
}