.nav-menu {
  &__list {
    background-color: #e09d9d;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  &__item {
    text-transform: uppercase;
    list-style: none;
    font-size: 20px;
    margin: 20px;
  }
}
a{
  text-decoration: none;
}
.selected{
  color: #9a84a7;
}