.footer {

  &__title {
    @include title;
    @include section-title;
    color: #ffffff;
    text-align: center;
    padding: 38px 0 8px;
  }

  &__title:before, &__title:after {
    content: ' - ';
  }

  &__description {
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #b9b9b9;
  }

  &__description--extra {
    display: none;
    @media (min-width: 768px) {
      display: inline;
    }
  }

  &__icons-container {
    margin: 26px 0;
    display: flex;
    justify-content: center;
  }

  &__link {
    margin: 0 5px;
  }

  &__contact-container {
    display: flex;
    flex-direction: column;
    padding: 25px 0 47px;
    text-align: center;
    @media (min-width: 768px)  {
      flex-direction: row;
      justify-content: center;

    }

  }

  &__address, &__number, &__email {
    font-size: 14px;
    line-height: 24px;
    color: #b9b9b9;
    cursor: pointer;
  }

  &__address:after, &__number:after {
    content: ' / ';
    margin: 0 5px;
  }


  background-color: #000;
}