@import "mixins";

@import "reset";
@import "hero";
@import "recent-posts";
@import "instagram-shots";
@import "footer";

* {
  font-family: 'Roboto', sans-serif;
}


a {
  text-decoration: none;
  cursor: pointer;
}


.container {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 28px 0 25px;
  width: 100%;
  @media (min-width: 768px) {
    padding: 0 80px 0 92px;
  }
  @media (min-width: 1200px) {
    padding: 0 215px;
  }

}